iOS/.DS_Store
iOS/46px.xcodeproj/xcuserdata/bengotow.xcuserdatad/xcdebugger/
iOS/46px.xcodeproj/project.xcworkspace/xcuserdata/bengotow.xcuserdatad/UserInterfaceState.xcuserstate
iOS/46px.xcodeproj/project.xcworkspace/xcuserdata/bengotow.xcuserdatad/WorkspaceSettings.xcsettings
iOS/build
iOS/46px.xcodeproj/project.xcworkspace/xcuserdata/graysoncarroll.xcuserdatad/UserInterfaceState.xcuserstate
iOS/46px.xcodeproj/project.xcworkspace/xcuserdata/graysoncarroll.xcuserdatad/WorkspaceSettings.xcsettings
iOS/46px.xcodeproj/project.xcworkspace/xcuserdata/
iOS/46px.xcodeproj/xcuserdata/Scott.xcuserdatad/
Web/users
*.DS_Store
/iOS/DerivedData/
