body {
	display:block;
	font-family:"Arial", sans-serif;
}

#content {
	display:block;
	width:100%;
}

#page_controls {
	display:block;
	width:672px;
	margin:auto;
	margin-bottom:15px;
}

#threads {
	display:block;
	list-style:none;
	overflow:auto;
	margin:auto;
	width:672px;
	padding: 10px 20px;
}

.post {
	display:block;
	float:left;
	margin: 22px;
	width:180px;
}

.post canvas {
	width:180px; 
	height:180px;
	display:block;
	float:left;
	width:180px;
	background-color:white;
	border:5px solid #CCCCCC;
}

.post .caption {
	background-color:white;
	border:5px solid #CCCCCC;
	width:180px; 
	font-size:0.9em;
	background-color:rgba(255,255,255,0.5); 
	border:0px; 
	padding:5px; 
	clear:left; 
	margin-top:10px; 
	word-wrap: break-word;
}

.post #timestamp{
	font-size:0.8em; color:gray;
}

.post img {
	float:left;
	padding-right:5px;
	width:35px;
	height:35px;
}

.post #postheader{
	float:right; 
	width:140px;
}

.button {

	background:url(/images/button_background.png) top right no-repeat;
	height:45px;
	display:inline-block;
	padding-top:15px;
	padding-left:8px;
	padding-right:15px;
	font-size:22px;
	font-family:"Arial", sans-serif;
	
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=, offy=1);	
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	
	text-decoration:none;
	color:#222;
	font-weight:bold;
}

.button:active, .button:hover {
	background:url(/images/button_background_down.png) top right no-repeat;
	height:42px;
	display:inline-block;
	padding-top:18px;
	padding-left:8px;
	padding-right:12px;
	border-left:3px solid white;
	text-shadow: 0px 1px 0px #ffffff;
	filter: dropshadow(color=#ffffff, offx=, offy=1);	
}

.note {
	width:643px;
	margin:auto;
	margin-top:20px;
}

.note div {
	margin-left:10px;
	background-color:rgba(255,255,255,0.4);
	border:5px white dashed;
	padding:15px;
}